@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
/*background: rgba(0, 0, 0, 0.4);
	background: linear-gradient(
		to bottom left,
		rgb(19, 18, 18),
		rgb(26, 182, 164),
		rgba(9, 214, 9, 0.625) 45px
	);
	font-family: 'Merriweather', serif;
	font-family: "Squada One", cursive;*/
* {
  box-sizing: border-box;
}

:root {
  --primary-font-color: white;
  --avatarSize: 9rem;
  --socialiconsize: 4.5rem;
  --socialMediaCardContainer-Padding: 0.19rem;
  --social-github: rgb(0, 216, 84);
  --social-twitter: rgb(1, 91, 137);
  --social-devPortfolio: rgb(18, 14, 38);
  --social-npm: rgb(201, 38, 34);
  --social-hashnode: rgb(41, 98, 255);
}

body {
  background-image: url("https://images.unsplash.com/photo-1529912626516-e58b23f44f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80");
  background-position: center;
  background-size: 100%, 100%;
}
h1,
h2,
h3 {
  color: white;
}
.card {
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 48rem;
}
.introContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-bottom: 1rem;
}

.introContainer .introMsg {
  color: var(--primary-font-color);
  font-size: 1.3rem;
}

.introContainer .introMsg ul li {
  margin: 0.5rem;
  list-style: none;
}

figcaption {
  color: var(--primary-font-color);
}
.socialCardListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.socialCardContainer {
  height: 8.5rem;
  width: 8.5rem;
  border-radius: 12px;
  padding-iinline: var(--socialMediaCardContainer-Padding);
  padding-block: var(--socialMediaCardContainer-Padding);
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: orange; */
}
.socialCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-font-color);

  height: 8rem;
  width: 8rem;

  border-radius: 12px;
  border: 2px solid var(--social-github);

  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
}

.socialCard i {
  /* height: 3rem; */
  font-size: var(--socialiconsize);
  color: white;
}

.twitter {
  border: 2px solid var(--social-twitter);
}
.linkedin {
  border: 2px solid var(--social-twitter);
}
.devPortfolio {
  border: 2px solid var(--social-devPortfolio);
}
.npm {
  border: 2px solid var(--social-npm);
}
.hashnode {
  border: 2px solid var(--social-hashnode);
}
a {
  text-decoration: none;
  color: var(--primary-font-color);
}

html {
  font-size: 80%;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  font-family: "Merriweather", serif;
  color: var(--primary-font-color);
}
header h1 {
  text-decoration: underline;
}

img {
  height: var(--avatarSize);
  width: var(--avatarSize);
}

.img img {
  border-radius: 50%;
  box-shadow: 10px 8px 32px 0 rgba(31, 38, 135, 0.687);
}

@media screen and (max-width: 450px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1529912626516-e58b23f44f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80");
    background-position: center;
    background-size: 100%, 100%;
  }
  h1,
  h2,
  h3 {
    color: white;
    font-size: 1rem;
  }
  .card {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 48rem;
  }
  .introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
  }
  img {
    height: var(--avatarSize);
    width: var(--avatarSize);
  }

  .introContainer .introMsg {
    color: var(--primary-font-color);
    font-size: 1rem;
  }
  .introContainer .introMsg h2 {
    font-size: 1.5rem;
  }
  .introContainer .introMsg ul li {
    margin: 0.5rem;
    list-style: none;
  }

  figcaption {
    color: var(--primary-font-color);
  }
  .socialCardListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .socialCardContainer {
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 12px;
    padding-iinline: var(--socialMediaCardContainer-Padding);
    padding-block: var(--socialMediaCardContainer-Padding);
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: orange; */
  }
  .socialCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-font-color);

    height: 8rem;
    width: 8rem;

    border-radius: 12px;
    border: 2px solid var(--social-github);

    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
  }

  .socialCard i {
    /* height: 3rem; */
    font-size: var(--socialiconsize);
    color: white;
  }

  .twitter {
    border: 2px solid var(--social-twitter);
  }
  .linkedin {
    border: 2px solid var(--social-twitter);
  }
  .devPortfolio {
    border: 2px solid var(--social-devPortfolio);
  }
  .npm {
    border: 2px solid var(--social-npm);
  }
  a {
    text-decoration: none;
    color: var(--primary-font-color);
  }

  html {
    font-size: 80%;
    height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    text-align: center;
    font-family: "Merriweather", serif;
    color: var(--primary-font-color);
  }
  header h1 {
    text-decoration: underline;
  }
}
