@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
/*background: rgba(0, 0, 0, 0.4);
	background: linear-gradient(
		to bottom left,
		rgb(19, 18, 18),
		rgb(26, 182, 164),
		rgba(9, 214, 9, 0.625) 45px
	);
	font-family: 'Merriweather', serif;
	font-family: "Squada One", cursive;*/
html {
  font-size: 80%;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-family: "Merriweather", serif;
  color: white;
  transform: translateY(-20px);
}
header h1 {
  text-decoration: underline;
}
header h3 {
  font-size: 1rem;
}

body {
  text-align: center;
  height: 100vh;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.container-content {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  max-width: 80%;
  max-height: 90%;
  padding: 2em 2em;
  object-fit: contain;
  text-shadow: 0px 0px 2px #131415;
  margin-bottom: 1.5rem;
  margin-top: 0.6rem;
  background: rgba(14, 13, 13, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.687);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: box-shadow-animation 15s infinite;
}

@keyframes box-shadow-animation {
  0% {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.687);
  }

  20% {
    box-shadow: 0 8px 32px 0 rgba(38, 196, 24, 0.687);
  }
  40% {
    box-shadow: 0 8px 32px 0 rgba(251, 255, 21, 0.884);
  }
  60% {
    box-shadow: 0 8px 32px 0 rgba(235, 71, 7, 0.986);
  }
  80% {
    box-shadow: 0 8px 32px 0 rgba(96, 5, 40, 0.687);
  }
  100% {
    box-shadow: 0 8px 32px 0 rgba(46, 225, 228, 0.687);
  }
}

img {
  height: 6rem;
  width: 6rem;
}

.img img {
  border-radius: 50%;
  box-shadow: 10px 8px 32px 0 rgba(31, 38, 135, 0.687);
}

.cta-btns button {
  background: rgba(228, 72, 72, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60%;
  height: 3rem;
  border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
  border-right: 0;
  margin: 1.3rem 1rem;
  animation: bg-animation 15s infinite;
}
@keyframes bg-animation {
  0% {
    background: rgba(31, 38, 135, 0.687);
  }

  20% {
    background: rgba(38, 196, 24, 0.687);
  }
  40% {
    background: rgba(251, 255, 21, 0.884);
  }
  60% {
    background: rgba(235, 71, 7, 0.986);
  }
  80% {
    background: rgba(96, 5, 40, 0.687);
  }
  100% {
    background: rgba(46, 225, 228, 0.687);
  }
}
footer {
  color: white;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  margin-top: 2rem;
}

.footer-footer {
  font-size: 0.6rem;
}

.icon {
  height: 0.9rem;
  width: auto;
}

@media screen and (max-width: 400px) {
  .container-content {
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 75%;
  }
}
